* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    color: white;
    font-size: 18px;
}
.image2 {
    width: 300px;
    height: 300px;
    padding: 20px;
}
#card {
    width: 350px;
    height: 70%;
    margin: 50px auto;
    padding-bottom: 30px;
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);
}
.equi {
    text-align: left;
    padding: 5px 20px;
    color: white;
}
.head1 {
    color: white;
    font-weight: 600;
    padding-bottom: 15px;
}
.eth {
    display: flex;
}
.one, .two {
    flex: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.two {
    float: right;
    margin-right: -30px;
}
.one {
    margin-left: -35px;
}
hr {
    width: 90%;
    margin: 0 auto;
    color: hsl(215, 32%, 27%);
}
.creation {
    margin-top: 20px;
    display: flex;
    margin-left: 20px;
}
.jules {
    border: 2px solid white;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.mean {
    color: hsl(215, 51%, 70%);
}
@media only screen and (max-width: 375px) {
    .image2 {
        width: 150px;
        height: 150px;
        padding: 15px;
    }
    #card {
        width: 250px;
        height: 70%;
        margin: 50px auto;
        padding-bottom: 30px;
        border-radius: 10px;
        background-color: hsl(216, 50%, 16%);
    }
    .equi {
        text-align: left;
        padding: 5px 10px;
        color: white;
    } 
    .two {
        float: right;
        margin-right: -15px;
    }
    .one {
        margin-left: -25px;
    } 
    .creation {
        margin-top: 20px;
        display: flex;
        margin-left: 10px;
    }
    .jules {
        border: 2px solid white;
        border-radius: 50%;
        float: left;
        margin-right: 8px;
    }
}
